
$background: rgba(255, 255, 255, .9);
$backgroundsecondary: rgba(255, 255, 255, 0.2);
$dark: #000000dc;

$nightmodebg: #000000dc;
$nightmodebgsecondary: rgba(255, 255, 255, 0.3);
$nightmodetxt: #d1d1d1;
