@import 'colors';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
h2,
h1 {
	scroll-behavior: smooth !important;
	line-height: 24px;
	font-size: 16px;
}

h2,
h1 {
	font-weight: 500;
	color: $accent;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	min-height: 100vh;
	background-color: $light;
	color: $dark;
	overflow-x: hidden;
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
	width: 100%;
	max-width: 1000px;
	min-height: 100vh;
	overflow: hidden;
	// border: 1px solid green;
	// padding: 50px 3vw;
	// padding: 0 3vw;
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
	top: 0;
	left: 0;
	padding: 100px 3vw 100px 3vw;
	min-height: 80vh;
	width: 100%;
	max-width: 1000px;
	gap: 20px;
}

[data-theme='dark'] body {
	background-color: $dark;
	color: $light;
}

button {
	font-size: 16px;
	border: none;
	background-color: transparent;
	cursor: pointer;
	color: $light;
}

[data-theme='dark'] button {
	color: $light;
}

ul {
	list-style: none;
}

.icon {
	align-self: center;
	margin-inline: auto;
	// font-size: 20px;
	margin: 20px auto;
	width: 100%;
}

.paragraph {
	width: 100%;
	margin: 10px 0;
	font-weight: 300;
	// font-size: 20px;
	font-size: 16px;
}

.bold {
	font-weight: 500;
}

.bolder {
	// font-weight: 600;
	font-weight: 500;
}

.light {
	font-weight: 300;
}

.dark {
	background-color: $dark;
	color: $light;
}

[data-theme='dark'] .dark {
	background-color: $dark;
	color: $light;
}

.underlined {
	text-decoration: underline;
	font-weight: 400;

	&:hover {
		text-decoration: none;
	}
}

a {
	text-decoration: none;
	color: $dark;
	font-weight: 500;
	// padding: 10px 10px 10px 0;
}

// [data-theme='dark'] a {
// 	background-color: $dark;
// 	color: $light;
// }

p {
	font-weight: 300;
}

.alignItems {
	display: flex;
	align-items: center;
}

@media (min-width: 768px) {
	html,
	h2,
	h1 {
		font-size: 20px;
		line-height: 150%;
	}

	button {
		font-size: 24px;
	}

	.main {
		padding: 120px 3vw;
	}
}

@media (min-width: 992px) {
	// html,
	// h2,
	// h1 {
	// 	font-size: 22px;
	// 	line-height: 150%;
	// }

	button {
		font-size: 45px;
	}

	.icon {
		font-size: 33px;
		margin: 30px auto;
	}

	.paragraph {
		margin: 20px 0;
	}

	.main {
		padding: 150px 0 120px 0;
	}
}
