@import '../styles/colors';

.footer {
	position: fixed;
	padding: 0 2.5%;
	width: 100%;
	bottom: 0;
	padding-top: 20px;
 background-color: $background;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.socialsLocalesWrapper{
	display: flex;
	gap: 20px;
}

.footerBtn {
	padding: 10px;
	background-color: transparent;
	border: 2px solid transparent;
	cursor: pointer;
}
