@import '../styles/colors';

.footer {
	position: fixed;
	padding: 20px 3vw;
	width: 100%;
	max-width: 1200px;

	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	background-color: $light;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

[data-theme='dark'] .footer {
	background-color: $dark;
	color: $light;
}

.socialsLocalesWrapper {
	display: flex;
	gap: 25px;
	font-size: 20px;
}

[data-theme='dark'] .socialsLocalesWrapper {
	background-color: $dark;
	color: $light;
}

.footerBtn {
	// padding: 10px;
	font-weight: 100;
	background-color: transparent;
	border: 2px solid transparent;
	cursor: pointer;
	font-size: 17px;
}

[data-theme='dark'] .footerBtn {
	background-color: $dark;
	color: $light;
}

@media (min-width: 768px) {
	.socialsLocalesWrapper {
		gap: 40px;
		font-size: 30px;
	}
	.footerBtn {
		font-size: 20px;
	}
}

@media (min-width: 992px) {
	.footer {
		padding: 20px 0;
	}
	.footerBtn {
		font-size: 24px;
	}
}
