@import '../styles/colors';

.footer {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	// max-width: 1000px;
	bottom: 0;
	left: 0;
	padding: 10px 3vw;
	background-color: $dark;

	* {
		color: $light;
	}
}

[data-theme='dark'] .footer {
	background-color: $accent;
	color: $light;

	* {
		color: $light;
	}
}

.socialsLocalesWrapper {
	display: flex;
	width: 100%;
	justify-content: space-around;
	font-size: 22px;
}

// [data-theme='dark'] .socialsLocalesWrapper {
// 	background-color: $dark;
// 	color: $light;
// }

.footerBtn {
	font-weight: 100;
	background-color: transparent;
	border: 2px solid transparent;
	cursor: pointer;
	font-size: 16px;
}

[data-theme='dark'] .footerBtn {
	background-color: $dark;
	color: $light;
}

@media (min-width: 768px) {
	.socialsLocalesWrapper {
		max-width: 1000px;
	}
}
