@import '../styles/colors';

.header {
	display: flex;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	min-height: 80px;
	width: 100%;
	background-color: $dark;
	color: $light;
	z-index: 100;
	// border-bottom: 1px solid $light;
}

[data-theme='dark'] .header {
	background-color: $accentDarker;
}

.headerWrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 1000px;
	padding: 0 3vw;

	* {
		color: $light;
	}
}

.logo {
	display: flex;
	align-items: center;
	// gap: 5px;
	color: $light;
	letter-spacing: 2px;
	font-weight: 500;
	font-size: 17px;
	height: 23px;
}

.logo.logoSmallSpan {
	font-weight: 300;
	font-size: 14px;
	height: 15px;
	letter-spacing: 1px;
}

.pdfDownloadLink {
	font-size: 16px;
}

.languagePicker{
	display: flex;

	*{
		font-size: 16px;
		font-weight: 300;
	}
}

.socialsLocalesWrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 25px;
	font-size: 10px;
	width: 70px;
	background-color: $accent;
}

.headerBtn {
 position: fixed;
	top: 0;

	font-weight: 100;
	background-color: $accent;
	border: 2px solid transparent;
	cursor: pointer;
	font-size: 16px;
	border: 1px solid red;
}

[data-theme='dark'] .headerBtn {
	background-color: $accent;
	color: $light;
}

.headerIconsWrapper {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 25px;
	cursor: pointer;
	color: $light;
}

.hamburger {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	height: 100%;
}

// .hamburger.darkModeSwitcher {
// 	// padding: 0 0 5px 10px;
// 	// font-size: 15px;
// }

.hamburger a {
	padding: none;
}

@media (min-width: 768px) {
	// .logo {
	// 	font-size: 24px;
	// }

	.hamburger {
		font-size: 24px;
	}

	.pdfDownloadLink {
		font-size: 24px;
	}

	.headerIconsWrapper {
		width: 12%;
	}
}

@media (min-width: 992px) {
	.headerWrapper {
		padding: 0 0;
	}

	.hamburger {
		font-size: 25px;
	}

	.hamburger.darkModeSwitcher {
		// padding: 3px 0 20px 20px;
		font-size: 20px;
	}
	.header {
		// min-height: 120px;
		// padding: 30px 0;
	}
	// .logo {
	// 	font-size: 20px;
	// }

	.headerIconsWrapper {
		width: 9%;
		// gap: 40px;
	}
}
