@import '../styles/colors';

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	// height: 9%;
	width: 100%;
	padding: 30px 2.5%;
	background-color: $background;
	z-index: 100;
	
}

[data-theme='dark'] .header {
	background-color: $nightmodebg;
	color: $nightmodetxt;
}

.logo {
	height: 100%;
	margin-right: 2.5vw;
	font-size: 20px;
}

.headerIconsWrapper {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 30px;
	position: fixed;
	right: 2.5vw;
	width: 15%;
	height: 45px;
	cursor: pointer;
}

.hamburger {
	display: flex;
	justify-content: center;
	align-items: center;
}

.hamburger a {
	padding: none;
}

@media (min-width: 768px) {
	.header {
		// height: 10%;
	}
	.logo {
		font-size: 30px;
	}

	.headerIconsWrapper {
		width: 12%;
	}
}

@media (min-width: 992px) {
	.header {
		// height: 12%;
	}
	.logo {
		font-size: 45px;
	}

	.headerIconsWrapper {
		width: 9%;
		gap: 40px;
	}
}
