@import '../styles/colors';

.menu {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	z-index: 200;
	background-color: $light;
}

.header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%);
	width: 100%;
	max-width: 1200px;
	padding: 30px 3vw;
}

[data-theme='dark'] .menu {
	background-color: $dark;
	color: $light;
}

.nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	gap: 20px;
}

.closeIcon {
	cursor: pointer;
}
