@import '../styles/colors';

.menu {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	z-index: 200;
	background-color: $light;
}

.header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: absolute;
	min-height: 70px;
	top: 0;
	left: 50%;
	transform: translate(-50%);
	width: 100%;
	max-width: 1000px;
	padding: 0 3vw;
}

[data-theme='dark'] .menu {
	background-color: $dark;
	color: $light;
}

.nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	gap: 20px;

	* {
		color: $dark;
		letter-spacing: 3px;
	}
}

[data-theme='dark'] .nav {
	* {
		color: $light;
	}
}

.closeIcon {
	cursor: pointer;
	color: $dark;
	padding: 0 10px;
	font-size: 22px;
}

[data-theme='dark'] .closeIcon {
	color: $light;
}

@media (min-width: 768px) {
	.header {
		padding: 0 3vw;
	}
}

@media (min-width: 992px) {
	.header {
		padding: 0 0;
	}
}
