@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.pdfWrapper {
	margin-top: 20%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	width: 100%;
	max-width: 1200px;
 z-index: 10;
	padding-bottom: 60px;
}

.pdfDownloadLink {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 100;
	cursor: pointer;
	font-size: 1px;
	*{
   font-family: 'Open Sans', sans-serif;
			font-size: 18px;
	}
	
}

@media (min-width: 768px) {
	.pdfWrapper{
		 margin-top: 20%;
	}

	.pdfDownloadLink{
		font-size: 20px;
	}
}

@media (min-width: 992px) {
  .pdfWrapper{
		 margin-top: 10%;
	}

	.pdfDownloadLink{
		font-size: 25px;
	}
}