.pdfWrapper {
	margin-top: 20%;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80vw;
	max-width: 1250px;

	z-index: 10;
	padding-bottom: 60px;
}

.pdfDownloadLink {
	margin: 30px 0 30px 0;
	z-index: 100;
	cursor: pointer;
	font-size: 16px;
	
}

@media (min-width: 768px) {
	.pdfWrapper{
		 margin-top: 20%;
	}

	.pdfDownloadLink{
		font-size: 20px;
	}
}

@media (min-width: 992px) {
  .pdfWrapper{
		 margin-top: 10%;
	}

	.pdfDownloadLink{
		font-size: 25px;
	}
}