@import '../../styles/colors';

.list {
	display: flex;
	flex-direction: column;
	gap: 50px;
}

// h2.heading2 {
// 	font-weight: 500;
// 	font-size: 40px;
// }

// .paragraph {
// 	font-size: 35px;
// }

.readMore,
.button {
	padding: 2px 4px;
	background-color: $light;
	border: 1px solid $dark;
	color: $dark;
	font-size: 20px;
	font-weight: 300;
}

.readMore {
	background-color: $dark;

	color: $light;
}
