@import '../../styles/colors';

.list {
	display: flex;
	flex-direction: column;
	gap: 50px;
}

h2.heading2 {
	font-weight: 400;
	font-size: 20px;
	// color: $dark;
}

// .paragraph {
// 	font-size: 35px;
// }

.readMore,
.button {
	padding: 2px 4px;
	background-color: $light;
	border: 1px solid $dark;
	color: $dark;
	font-size: 20px;
	font-weight: 300;
}

[data-theme='dark'] 
.button{
	background-color: $dark;
	color: $light;
	border: 1px solid $light;
}

.readMore {
	background-color: $dark;
	border: 1px solid $dark;
	color: $light;
}

[data-theme='dark'] .readMore{
	background-color: $light;
	color: $dark;
}
